*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background: #2E4053 ;
}
#title{
    padding: 2% 20%;
    text-align:center;
    margin-bottom: 3rem;
   
    
    
}
h1{
    color: #58D68D;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Festive', cursive;
}
.dice{
    display: inline-block;
    margin: 0 3rem;
}


#game{
    padding: 0 20% 20%;
    text-align:center;
    display: in
}
h4{
   
    margin: 3rem 5rem;
    font-size: 3rem;
    color: #58D68D;
    font-family: 'Ephesis', cursive;

}

#footer{
    padding: 0 20%;
    text-align: center;
    margin-bottom: 5rem;
}
p{
    font-size: 1.25rem;
    font-style: italic;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}
i{
    margin: 0 0.5rem ;

}
